.mat-dialog-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  p {
    margin: 0.6rem 0;
    font-weight: 400;
  }
}
.mat-dialog-container {
  padding: 0 2rem;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.save {
  color: var(--white);
  background-color: var(--secondary-color);
  width: 9.4rem;
  letter-spacing: 2px;
}

.cancel {
  color: var(--title-color);
  background-color: var(--grey);
  width: 9.4rem;
  margin-right: 1rem;
  letter-spacing: 2px;
}

h2 {
  font-family: Montserrat;
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
