<h2>Meus pagamentos</h2>

<div class="add-task-container">
  <button class="btn btn-primary" (click)="openDialog(null)">
    ADICIONAR PAGAMENTO
  </button>
</div>

<div class="table-container table-responsive">
  <div class="header-table-actions">
    <div class="form-group form-inline">
      <input
        placeholder="Pesquisar por usuário"
        class="form-control ml-2"
        type="text"
        name="searchTerm"
        (keyup)="onSearch($event)"
      />
      <!-- <span class="ml-3" *ngIf="eventService.loading$ | async">Loading...</span> -->
    </div>
    <div
      class="d-flex justify-content-between p-2 paginator-container"
      style="align-items: center"
    >
      <span>Exibir</span>
      <select
        class="custom-select"
        style="width: auto"
        [(ngModel)]="searchParams.pageSize"
        (ngModelChange)="refreshPage()"
      >
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="20">20</option>
      </select>
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="searchParams.page"
        [pageSize]="searchParams.pageSize"
        (pageChange)="refreshPage()"
        class="d-flex align-items-center"
        style="margin-top: 1rem"
        [maxSize]="5"
        [rotate]="true"
        [ellipses]="false"
      >
      </ngb-pagination>
    </div>
  </div>
  <table class="table-striped" matSort (matSortChange)="onSort($event)">
    <thead>
      <tr>
        <th scope="col" class="table-header-item"></th>
        <th scope="col" class="table-header-item" mat-sort-header="name">
          Usuário
        </th>
        <th scope="col" class="table-header-item" mat-sort-header="title">
          Título
        </th>
        <th scope="col" class="table-header-item" mat-sort-header="date">
          Data
        </th>
        <th scope="col" class="table-header-item" mat-sort-header="value">
          Valor
        </th>
        <th
          scope="col"
          class="table-header-item sort"
          mat-sort-header="isPayed"
        >
          Pago
        </th>
        <th scope="col" class="table-header-item"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of dataSource">
        <td class="table-item">
          <figure class="avatar-container">
            <img src="{{ task.image }}" alt="Profile Avatar" class="avatar" />
          </figure>
        </td>
        <td class="table-item">
          <div class="username">
            <h3>{{ task.name }}</h3>

            <span>@{{ task.username }}</span>
          </div>
        </td>
        <td class="table-item">{{ task.title }}</td>
        <td class="table-item">{{ formatTaskDate(task.date) }}</td>
        <td class="table-item">{{ formatTaskValue(task.value) }}</td>
        <td class="table-item">
          <input
            type="checkbox"
            name="isPayed"
            class="checkbox"
            [checked]="task.isPayed"
            (change)="editStatus(task)"
          />
        </td>
        <td class="table-item">
          <div class="table-action-buttons">
            <button (click)="editTask(task)">
              <img src="../assets/editIcon.svg" />
            </button>
            <button (click)="openDeleteConfirm(task)">
              <img src="../assets/deleteIcon.svg" />
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
