@import "~bootstrap/scss/bootstrap";

.table-container {
  background-color: var(--white);
  border-radius: 8px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: var(--secondary-background-color);
}

.table-action-buttons {
  button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 0.62rem;
  }
}

.avatar {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 100%;
  border: 2px solid var(--secondary-color);
}

.header-table-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.2rem;
  margin-bottom: 3rem;
  .mat-form-field,
  input {
    height: 1rem;
    width: 18rem;
  }
}

.add-task-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  button {
    letter-spacing: 2px;
    background-color: var(--secondary-color);
  }
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  color: var(--title-color);
  font-size: 30px;
  width: 100%;
}

thead {
  font-weight: 600;
  font-family: Lato;
  font-size: 1rem;
  padding: 1rem;
}

th {
  padding: 1rem;
  border-bottom: 2px solid var(--grey);
}

td {
  padding: 1rem;
}

table {
  width: 100%;
}
