<h2>Adicionar pagamento</h2>

<form [formGroup]="pagamentoForm" (ngSubmit)="onSubmit()">

    <div class="row space-rows">
        <mat-form-field>
            <mat-label>Usuário</mat-label>
            <input matInput type="text" formControlName="nameControl" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Valor</mat-label>
            <input matInput type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                formControlName="valueControl" required>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field>
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" (click)="picker.open()" (focus)="picker.open()"
                formControlName="dateControl" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Título</mat-label>
            <input matInput type="text" formControlName="titleControl" required>
        </mat-form-field>
    </div>

    <div class="dialog-buttons">
        <button mat-raised-button color="accent" (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!pagamentoForm.valid">Salvar</button>
    </div>

</form>