.header {
  background-color: var(--primary-color);
  height: 4.34rem;
  color: var(--white);
  font-family: Montserrat, Roboto, Lato;
  font-weight: lighter;
  font-size: 1.3rem;

  span {
    padding-left: 2rem;
    font-weight: 700;
  }
}
