@media only screen and (max-width: 600px) {

    .flexbox-container {
        display        : flex;
        justify-content: center;
        flex-wrap      : wrap;
    }

    .flexbox-item {
        width : 100%;
        margin: 10px 0;
    }

}

@media only screen and (min-width: 600px) {

    .flexbox-container {
        display        : flex;
        justify-content: space-between;
        flex-wrap      : wrap;
        width          : 100%;
        align-items    : center;
    }

    .flexbox-item {
        width : 190px;
        margin: 20px 0;
    }

}

.dialog-buttons {
    display        : flex;
    justify-content: flex-end;
    margin-top     : 30px;

    button {
        margin-left: 15px;
    }
}