<div *ngIf="isNotOperationDelete() else deleteDialog">

    <h2>{{ dialogTitle }} pagamento</h2>

    <form [formGroup]="pagamentoForm" (ngSubmit)="onSubmit()">
        <div class="flexbox-container">

            <mat-form-field class="flexbox-item">
                <mat-label>Usuário</mat-label>
                <input matInput type="text" formControlName="name" required>
            </mat-form-field>

            <mat-form-field class="flexbox-item">
                <mat-label>Valor</mat-label>
                <input matInput type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                    formControlName="value" required>
            </mat-form-field>

            <mat-form-field class="flexbox-item">
                <mat-label>Data</mat-label>
                <input matInput [matDatepicker]="picker" [max]="maxDatepickerFilter" (click)="picker.open()"
                    (focus)="picker.open()" formControlName="date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="flexbox-item">
                <mat-label>Título</mat-label>
                <input matInput type="text" formControlName="title">
            </mat-form-field>
        </div>

        <mat-dialog-actions align="end">
            <button mat-raised-button color="accent" type="button" (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button color="primary" type="submit"
                [disabled]="!pagamentoForm.valid">{{buttonText}}</button>
        </mat-dialog-actions>

    </form>

</div>

<ng-template #deleteDialog>
    <h2>Excluir Pagamento</h2>
    Usuário: {{data.task.name}} <br>
    Data: {{data.task.date | date: 'dd/MM/YYYY'}}<br>
    Valor: R${{data.task.value}}<br>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="accent" (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="deleteTask()">Deletar</button>
    </mat-dialog-actions>
</ng-template>