<form [formGroup]="loginForm">
  <p>
    <mat-form-field appearance="outline" class="input-login">
      <mat-label>Email</mat-label>
      <input
        formControlName="email"
        matInput
        placeholder="example@mail.com"
        type="email"
        required
      />
      <mat-error *ngIf="email.invalid">*Digite um email válido</mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" class="input-login">
      <mat-label>Senha</mat-label>
      <input formControlName="password" matInput type="password" required />
      <mat-error *ngIf="password.invalid">*Obrigatório</mat-error>
    </mat-form-field>
  </p>

  <button mat-flat-button color="primary" type="submit" (click)="login()">
    ENTRAR
  </button>
  <span>
    <mat-error *ngIf="loginError">Usuário ou senha inválidos</mat-error>
  </span>
</form>
