<form [formGroup]="loginFormGroup">
  <p>
    <mat-form-field appearance="outline" class="input-login">
      <mat-label>Email</mat-label>
      <input
        formControlName="mail"
        matInput
        placeholder="example@mail.com"
        type="email"
        required
      />
      <mat-error *ngIf="loginFormGroup.get('mail').errors?.required"
        >*Obrigatório</mat-error
      >
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" class="input-login">
      <mat-label>Senha</mat-label>
      <input formControlName="password" matInput type="password" required />
      <mat-error *ngIf="loginFormGroup.get('password').errors?.required"
        >*Obrigatório</mat-error
      >
    </mat-form-field>
  </p>

  <button mat-flat-button color="primary" type="submit" (click)="verifyForm()">
    ENTRAR
  </button>
</form>
