<html>

<body>
    <div class="login-container">
        <!-- área esquerda do layout, região do login -->
        <div class="login-form-side">
            <div class="form-wrapper">
                <img src="./../../../../assets/payfriends-logo.svg" alt="">
                <p class="welcome-text">Bem-vindx de volta!</p>
                    <form [formGroup]="form" (ngSubmit)="onLogin()">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" formControlName="email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Senha" formControlName="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-xs col-12 w-100">ENTRAR</button>
                    </form>   
            </div>
        </div>
        <!-- área direita do layout, região com a arte de boas vindas -->
        <div class="landing-art-side centering-content">
            <img src="./../../../../assets/man-doing-online-payment.svg" alt="">
        </div>
    </div>
</body>

</html>
