:root {
  --white: #fff;
  --background-color: #f2f2f2;
  --secondary-background-color: #f5f8fa;
  --black: #000;
  --grey: #e6ecf0;
  --primary-color: #002d69;
  --secondary-color: #007dfe;
  --tertiary-color: #f5f5f5;
  --title-color: #333333;
  --text-color: #2d3540;
  --text-light: #69788c;
  --grey-line: #cfdce5;
}
