.mat-dialog-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mat-dialog-container {
  padding: 0 2rem;
}

.mat-form-field {
  width: 17rem;
  font-size: 1rem;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.save {
  color: var(--white);
  background-color: var(--secondary-color);
  width: 9.4rem;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.cancel {
  color: var(--title-color);
  background-color: var(--grey);
  width: 9.4rem;
  margin-right: 1rem;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

h2 {
  font-family: Montserrat;
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
