header {
  background: #002d69;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.logout-link {
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  color: white;
}

body {
  background-color: #f2f2f2;
  height: 100vh;
}
