body {
  background: #f2f2f2;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #002d69;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logout-link {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.meus-pagamentos-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.usuario-nome-text{
  font-weight: 600;
}

table{
  width: 100%;
}

.icon{
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

input{
  width: 25%;
}

.form-check-input{
  cursor: pointer;
}

th{
  color: black;
  font-weight: 700;
  font-size: 14px;
}

td{
  color: black;
  font-weight: 400;
  font-size: 14px;
}

.secondary-text{
  color: #69788C;
  font-size: 12px;
}

.form-check-input{
  width: 20px; 
  height: 20px;
}