<body scroll="no">
    <header class="p-4">
        <div class="d-flex justify-content-between align-items-center">
            <div class="p-2">
                <img src="./../../../../assets/payfriends-logo-blank.svg" alt="">
            </div>
            <div class="p-2 d-flex flex-row-reverse align-items-center">
                <div class="p-2">
                    <a class="logout-link" (click)="logout()">Sair</a>
                </div>
                <div class="p-2"><img src="https://github.com/mdo.png" alt="" width="45" height="45"
                        class="rounded-circle">
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <p class="meus-pagamentos-text">Meus pagamentos</p>
        </div>
        <div class="row">
            <div class="col d-flex flex-row-reverse">
                <button class="btn btn-primary btn-xs">ADICIONAR PAGAMENTO</button>
            </div> 
        </div>
        <div class="row">
            <div class="p-4 bg-white"><ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul></div>
        </div>
    </div> 
</body>

