<header class="p-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="p-2">
            <img src="./../../../../assets/payfriends-logo-blank.svg" alt="">
        </div>
        <div class="p-2 d-flex flex-row-reverse align-items-center">
            <div class="p-2">
                <a class="logout-link" (click)="logout()">Sair</a>
            </div>
            <div class="p-2"><img src="https://github.com/mdo.png" alt="" width="45" height="45" class="rounded-circle">
            </div>
        </div>
    </div>
</header>

<body>

</body>