.container-login {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    img {
      width: 80%;
    }
  }

  .login-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70%;
    background-color: var(--background-color);

    h2 {
      font-weight: 600;
      font-family: Montserrat, Roboto, Lato;
      font-size: 1.8rem;
      margin-bottom: 1.8rem;
      color: var(--title-color);
      width: 60%;
    }

    .form-login {
      width: 60%;
    }

    .logo {
      color: var(--secondary-color);
      font-family: Montserrat, Roboto, Lato;
      font-size: 1.5rem;
      margin-bottom: 1.8rem;
      width: 60%;

      span {
        font-weight: 800;
        color: var(--primary-color);
      }
    }
  }
  @media (max-width: 768px) {
    .image {
      display: none;
    }
    .login-area {
      width: 100%;
      h2 {
        font-size: 1.2rem;
      }
    }
  }
}
