<div class="users">
  <div *ngFor="let user of users" class="user-container">
    <div class="user">
      <div class="user-img-container">
        <img [src]="user.img" />
      </div>
      <div class="info-wrapper">
        <div class="user-name">{{ user.name }}</div>

        <div class="user-id-username">{{ user.username }}</div>
      </div>

      <button type="button" (click)="openPaymentModal(user)" class="pay-button">
        Pagar
      </button>
    </div>
  </div>
</div>

<my-modal id="payment-modal">
  <div class="modal">
    <div class="title">
      Pagamento para <span>{{ selectedUser?.name }}</span>
    </div>

    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="content">
      <div class="input-container">
        <label for="amount">Valor</label>
        <input
          id="amount"
          type="text"
          formControlName="amount"
          placeholder="R$ 0,00"
          #inputAmount
          currencyMask
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        />
      </div>

      <div class="input-container">
        <label for="card-number">Cartão</label>
        <select id="card-number" formControlName="cardNumber">
          <option *ngFor="let card of cards" [value]="card.card_number">
            Cartão com final
            {{ card.card_number.substr(card.card_number.length - 4) }}
          </option>
        </select>
      </div>

      <div class="button-container">
        <button type="submit" class="pay-button">Pagar</button>
      </div>
    </form>
  </div>
</my-modal>

<my-modal id="receipt-modal">
  <div class="modal">
    <div class="title">Recibo de pagamento</div>

    <div class="content">
      O pagamento
      <strong>{{ approvalStatus !== "Aprovada" ? "não" : "" }}</strong> foi
      concluido com sucesso.
    </div>
  </div>
</my-modal>
