<div class="users">
  <div *ngFor="let user of users" class="user">
    <img [src]="user.img" />
    <div class="info-wrapper">
      <div class="user-name">{{ user.name }}</div>

      <div class="user-id-username">{{ user.username }}</div>
    </div>

    <button
      type="button"
      (click)="openPaymentModal('payment-modal', user)"
      class="pay-button"
    >
      Pagar
    </button>
  </div>
</div>

<my-modal id="payment-modal">
  <div class="modal">
    <div class="title">
      Pagamento para <span>{{ selectedUser?.name }}</span>
    </div>

    <div class="content">
      <input type="number" placeholder="R$ 0,00" />

      <div class="cards">
        <select>
          <option *ngFor="let card of cards" selected>
            Cartão com final
            {{ card.card_number.substr(card.card_number.length - 4) }}
          </option>
        </select>
      </div>

      <button type="button" class="pay-button">Pagar</button>
    </div>
  </div>
</my-modal>

<!-- <div class="modal-backdrop">
  <div class="modal">
    <div class="title">Pagamento para <span>Nome do Usuário</span></div>

    <div class="content">
      <input type="number" placeholder="R$ 0,00" />

      <div class="cards">
        <select>
          <option selected>Cartão com final 0123</option>
        </select>
      </div>

      <button type="button" class="pay-button">
        Pagar
      </button>
    </div>
  </div>

  <div class="modal">
    <div class="title">
      Recibo de pagamento
    </div>

    <div class="content">
      O pagamento foi concluido com sucesso.<br />
      O pagamento <strong>não</strong> foi concluido com sucesso.
    </div>
  </div>
</div> -->
