.meuspagamentos {

  .action-icons-cell {
    display: none;
  }

  .icon {
    margin: 0 10px;
  }

  .icons-column {
    width: 135px;
  }

  table {
    width: 100%;
  }

  .table-container {
    padding-bottom: 100px;
  }

  tbody>tr:hover {
    background-color: #ddd !important;
  }

  tbody>tr:nth-child(2) {
    background-color: green;
  }

  td {
    padding: 20px;

    .username,
    .time {
      color     : #69788C;
      margin-top: 10px;
      font-size : 13px;
    }

  }

  th {
    font-weight  : bold;
    font-size    : 14px;
    border-bottom: 2px solid #CFDCE5;
  }

  tr:nth-child(even) {
    background-color: #F5F8FA;
  }

}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border: none;
}


// loaging spinner ---

.lds-facebook {
  display   : inline-block;
  position  : relative;
  width     : 80px;
  height    : 80px;
  margin-top: 200px;
}

.lds-facebook div {
  display   : inline-block;
  position  : absolute;
  left      : 8px;
  width     : 16px;
  background: #CFDCE5;
  animation : lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left           : 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left           : 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left           : 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top   : 8px;
    height: 64px;
  }

  50%,
  100% {
    top   : 24px;
    height: 32px;
  }
}