<header class="header">
  <div class="header-content-left" [routerLink]="['/']">
    <p class="header-content-left__text">PayFriends</p>
  </div>
  <div class="header-content-right">
    <div class="header-content-right-figure">
      <img
        class="header-content-right-figure__figure"
        src="../../assets/images/profile.png"
        alt="Imagem do perfil do usuário"
      />

      <div class="header-content-right-figure-dropdown">
        <ul class="header-content-right-figure-dropdown__ul">
          <li class="header-content-right-figure-dropdown__li">
            Editar perfil
          </li>
          <li class="header-content-right-figure-dropdown__li">Sair</li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main class="main">
  <div class="main-title">
    <p class="main-title__text">Meus pagamentos</p>
    <p class="main-title__option">
      <button class="main-title__option-button">Adicionar pagamento</button>
    </p>
  </div>
</main>
