* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin     : 0;
  padding    : 0;
}

html,
body {
  height: 100%;
}

body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.box {
  margin-top: 100px;
  width : 1200px;
}

.container {
  display        : flex;
  justify-content: center;
  padding: 40px;
}

h1 {
  margin: 0 !important;
}

.row {
  display        : flex;
  justify-content: space-between;
}

.mat-dialog-container {
  padding: 50px !important;
}