* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin     : 0;
  padding    : 0;
  display    : grid;
}

html,
body {
  height: 100%;
}

body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  justify-content: center;
  padding        : 0 40px;
  margin-top     : 100px;
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 0 200px;
  }
}

@media only screen and (min-width: 1500px) {
  .container {
    padding: 0 400px;
  }
}

h1 {
  margin: 0 !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px !important;
}

.mat-form-field-no-padding .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.row-center-x {
  display        : flex;
  justify-content: center;
}

.mat-dialog-container {
  padding: 50px !important;
}

.text-center {
  text-align: center;
}