@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Lato", sans-serif;');
@include mat-core($custom-typography);

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
}

button{
  font-size: 14px !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  letter-spacing: 1.25px !important;
}